<div gdColumns="65% auto" gdGap="15px" class="live">
  <div id="player-con"></div>

  <div class="app">
    <main class="chat-window">
      <header fxLayoutAlign="space-between center" class="chat-header">
        <h3>聊天室</h3>

        <button
          type="button"
          (click)="isUsersHide = !isUsersHide"
          class="btn btn-info btn-sm"
        >
          {{ isUsersHide ? "显示用户列表" : "隐藏用户列表" }}
        </button>
      </header>
      <section class="chat-session">
        <ul class="message-list">
          <li class="user-message" *ngFor="let message of messages">
            <span class="user-id">{{ message.sender.id }}</span>
            <span>{{ message.parts[0].payload.content }}</span>
          </li>
        </ul>
      </section>
      <footer class="chat-footer">
        <form fxLayout="row" (ngSubmit)="sendMessage()">
          <input
            placeholder="请输入要发送的内容"
            type="text"
            name="message"
            [(ngModel)]="message"
            class="form-control"
          />
          <button type="button" fxFlex="1 0 auto" (click)="sendMessage()" class="btn btn-primary">发送</button>
        </form>
      </footer>
    </main>
    <aside [@flyInOut]="isUsersHide ? 'out' : 'in'" class="sidebar">
      <section *ngIf="!currentUser" class="join-chat">
        <h4>加入聊天室</h4>
        <form (ngSubmit)="addUser()">
          <input
            placeholder="输入昵称"
            type="text"
            name="username"
            [(ngModel)]="username"
          />
        </form>
      </section>
      <section class="online-members">
        <h4>当前用户</h4>
        <ul class="user-list">
          <li *ngFor="let user of users">
            <span class="presence {{ user.presence }}"></span>
            <span>{{ user.name }}</span>
          </li>
        </ul>
      </section>
    </aside>
  </div>
</div>
